@import "@fontsource/red-hat-display/300-italic.css";
@import "@fontsource/red-hat-display/400-italic.css";
@import "@fontsource/red-hat-display/500-italic.css";
@import "@fontsource/red-hat-display/600-italic.css";
@import "@fontsource/red-hat-display/700-italic.css";
@import "@fontsource/red-hat-display/800-italic.css";
@import "@fontsource/red-hat-display/900-italic.css";
@import "@fontsource/red-hat-display/300.css";
@import "@fontsource/red-hat-display/400.css";
@import "@fontsource/red-hat-display/500.css";
@import "@fontsource/red-hat-display/600.css";
@import "@fontsource/red-hat-display/700.css";
@import "@fontsource/red-hat-display/800.css";
@import "@fontsource/red-hat-display/900.css";
@import "@fontsource/el-messiri/400.css";
@import "@fontsource/el-messiri/500.css";
@import "@fontsource/el-messiri/600.css";
@import "@fontsource/el-messiri/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 100% 95%;
    --foreground: 33 5% 0%;
    --card: 33 50% 90%;
    --card-foreground: 33 5% 10%;
    --popover: 33 100% 95%;
    --popover-foreground: 33 100% 0%;
    --primary: 33 49% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -5 30% 85%;
    --muted-foreground: 33 5% 35%;
    --accent: -5 30% 80%;
    --accent-foreground: 33 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 33 5% 90%;
    --border: 33 30% 50%;
    --input: 33 30% 18%;
    --ring: 33 49% 40%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 44 50% 5%;
    --foreground: 44 5% 90%;
    --card: 44 50% 0%;
    --card-foreground: 44 5% 90%;
    --popover: 44 50% 5%;
    --popover-foreground: 44 5% 90%;
    --primary: 44 68% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 6 30% 15%;
    --muted-foreground: 44 5% 60%;
    --accent: 6 30% 15%;
    --accent-foreground: 44 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 44 5% 90%;
    --border: 44 30% 18%;
    --input: 44 30% 18%;
    --ring: 44 68% 39%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-red-hat-display;
  }
}
